TZ='America/Chicago'

# SWAG environment variables
# DUCKDNS_URL='URL.duckdns.org'
# DUCKDNS_TOKEN='TOKEN'
# URL='URL'

# bezsel environment variables
BEZSEL_AGENT_KEY='SSH KEY'

# qbittorent-wireguard environment variables
PIA_USERNAME='USERNAME'
PIA_PASSWORD='PASSWORD'
NAME_SERVERS='SERVER1,SERVER2'