# Ignore draw.io files
*.drawio

# Ignore all appdata files
appdata/*

# Allowlist specified appdata files
!appdata/filebeat/filebeat.docker.yml
!appdata/logstash/pipeline/nginx.conf
!appdata/logstash/logstash.yml

# Allowlist specified appdata folders
!appdata/swag/
appdata/swag/*
!appdata/swag/nginx/
appdata/swag/nginx/*
!appdata/swag/nginx/site-confs/

# Ignore any backup configs
backup

# Ignore MacOS stuff
.DS_Store

*.env